@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    text-transform: capitalize;
    /* font-size: small; */
}

.matchCard{
    background-color: #fff;
    min-width: 25vw;
    margin-top: 20px;
    margin-bottom: 20px ;
    margin-left: 20px;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid orange;
    /* max-height: 22vh; */

}

.matchName{
    display: flex;
    justify-content: center;
    
}

.TeamOne{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.TeamTwo{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.result{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    padding-left: 2px;
    /* padding: 5px; */
    font-weight: bold;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.Depth {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    box-sizing: border-box;
}

.line{
    background-color: black;
    height: 0.10rem;
    opacity: 1;
}



@media screen and (max-width: 800px) {
    .matchCard {
        min-width: 50vw;
    }
}

@media screen and (max-width: 500px) {
    .matchCard {
        min-width: 70vw;
    }
}
@media screen and (max-width: 250px) {
    .matchCard {
        min-width: 90vw;
    }
}