@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    text-transform: capitalize;
    /* font-size: small; */
}

.matchCardS{
    background-color: #fff;
    min-width: 25vw;
    margin-bottom: 4px;
    padding: 10px;
    box-sizing: border-box;
    /* max-height: 22vh; */

}

.matchNameS{
    display: flex;
    justify-content: center;
    
}

.TeamOneS{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.TeamTwoS{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.resultS{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    padding-left: 2px;
    /* padding: 5px; */
    font-weight: bold;
}

.bottomS{
    display: flex;
    justify-content: space-around;
}

.DepthS {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    box-sizing: border-box;
}

.lineS{
    background-color: black;
    height: 0.10rem;
    opacity: 1;
}



